body {
    background-color: aqua;
}
h1{
    background-color: lawngreen;
    color: orange;
    padding-right: 10px;
    margin: 1px;
    border: solid black;
}
p {
    padding: 1px;
    background-color: red;
    width: 200px;
    margin: 75px;
    border: blueviolet 10px dashed;
}
p.elo{
    padding: 1px;
    background-color: red;
    width: 200px;
    margin: 50px;
    border: pink 10px dashed;
}